<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <!-- 
        use - for include method not = 
        because = escape special chars so we end with a string value rather than raw html
    -->
    <div class="blogs content">
        <h2>All Blogs</h2>
        <!-- dynamic stufff -->
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <a class="single" href="/blogs/<%=blog._id%>">
                <h3 class = "title"> <%= blog.title %> </h3>
                <p class = "snippet"> <%= blog.snippet %> </p>
                </a>
            <% }) %>
        <% } else { %>
            <p>There is no blogs to display </p>
        <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>

</body>
</html>